{{/* [Temporary Fix] Returns summary | Accepts: Page */}}
{{- $summary := "" -}}
{{- if .IsPage -}}
  {{- $page := .Page -}}
  {{- $summary = replaceRE "&[^;]+;" "" ($page.Summary | plainify | htmlUnescape | chomp) -}}
  {{- $summary = replaceRE "[\r\n]+" " " $summary -}}
  {{- $summaryLength := mul (int $page.Site.Params.ParamSummaryLength) 8 -}}
  {{/* check summary in front matter */}}
  {{- if $page.Params.summary -}}
    {{- $summary = replaceRE "&[^;]+;" "" $page.Params.summary -}}
    {{- $summary = replaceRE "[\r\n]+" " " $summary -}}
  {{- else if lt (len $summary) $summaryLength -}}
    {{- $summary = replaceRE "&[^;]+;" "" ($page.Content | plainify | htmlUnescape | chomp) -}}
    {{- $summary = replaceRE "[\r\n]+" " " $summary -}}
    {{- $summary = $summary | truncate $summaryLength -}}
  {{- end -}}
{{- else -}}
  {{- $summary = .Summary -}}
{{- end -}}
{{- return $summary -}}
